{% load static %}
<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LEET EST.</title>
    <link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" type="txt/js" href="{% static '/js/hello.js' %}"> -->
</head>

<body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Main -->
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 mx-auto">
                            <!-- Profile picture -->
                            <div class="card shadow border-0 mt-4 mb-10">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
                                                    <img alt="..." src="{{photo}}">
                                                </a>
                                                <div class="ms-4">
                                                    <span class="h4 d-block mb-0">{{full_name}}</span>
                                                    <a href="#" class="text-sm font-semibold text-muted">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <a href="{% url 'logout' %}" type="button" class="btn btn-sm btn-neutral">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-6 mb-6">
                                <div class="col-xl-3 col-sm-6 col-12 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Overseer Status</span>
                                                    <span class="h4 font-bold mb-0">{{status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Blackholed In</span>
                                                    <span class="h4 font-bold mb-0">{{blackhole}} Days 📈</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Logtime</span>
                                                    <span class="h4 font-bold mb-0">60H 🕒</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Time Spent</span>
                                                    <span id="allsd" class="h4 font-bold mb-0">{{time_spent}} Days 📅</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Form -->
                            <h2 class="mb-4">
                                EST <strong>Scholarship</strong>?
                            </h2>
                            <div class="container my-container mb-6" style="padding: 0;">
                                <div class="row my-row">
                                    <div class="col-6 col-sm-6 my-col">
                                        <div class="card" style="height: 400px;">
                                        <div >
                                            <div class="card-header">
                                                <h6 class="mb-0">Blackhole Calculator</h6>
                                            </div>
                                            <div class="card">
                                            <div class="table-responsive">
                                                <table id="table" class="table table-hover table-nowrap">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col" class="col-sm-12 col-md-2" >Name</th>
                                                            <th scope="col" class="col-sm-12 col-md-3">Note</th>
                                                            <th scope="col" class="col-sm-12 col-md-2">BH days</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        <tr>
                                                           <td class="col-sm-1">
                                                                <a class="text-heading font-semibold" href="#" class="col-sm-12">tradance</a>
                                                           </td>
                                                           <td class="col-sm-1">
                                                            <div class="form-group w-20">
                                                            <input type="number" class="form-control form-control-sm col-sm-12" value="100">
                                                            </div> 
                                                        </td>
                                                            </td>
                                                            <td>
                                                                <span class="badge rounded-pill bg-soft-success text-success font-semibold">+85</span>
                                                            </td>
                                                            <td class="text-end" class="col-sm-1">
                                                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover" class="col-sm-1">
                                                                    <i class="bi bi-trash" ></i>
                                                                </button>
                                                            </td>
                                                        </tr>                                               
                                                            
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 my-col">
                                        <div class= "card mb-6">
                                            <div class="card-body">
                                                <form id="project-form" class="form-inline" autocomplete="off"> 
                                                <div class="row">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-3">Current Projects</span>
                                                    <div class="col-7">                                  
                                                    <select name="prj" class="form-select" id="options" required></select>                                          
                                                </div>
                                                <div class="col-5">
                                                    <button id="submit-option" type="submit" class="btn btn-neutral d-flex align-items-center"  ><i class="bi bi-plus-circle me-2"></i> <span>Add project</span></button>
                                                </div>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row g-6 mb-6">
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Future Blackhole</span>
                                                    <span class="h3 font-bold mb-0" style="color: #0c8;" >+0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Needed Blackhole</span>                                           
                                                    <span id="allsd" class="h3 font-bold mb-0" style="color: #f36;">{{ needed_bh }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>  
                               

                                <!-- <div class="text-end">
                      <button type="button" class="btn btn-sm btn-neutral me-2">Reset</button>
                      <button type="submit" class="btn btn-sm btn-primary" onclick="myFunction()">+</button>
                    </div> -->

                            <!-- </form> -->
                            <!-- Individual switch cards -->
                            <div class="row g-6">
                                <div class="col-md-12">
                                    <div class="alert bg-transparent text-success border-success" role="alert">
                                        <strong>Holy guacamole!</strong> You may get the Scholarship!
                                    </div>
                                </div>
                            </div>
                            <div class="row g-6 mt-2">
                                <div class="col-md-12">
                                    <div class="alert bg-transparent text-danger border-danger" role="alert">
                                        <strong>Holy guacamole!</strong> You may get the Scholarship!
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        $("#kt_datepicker_1").flatpickr();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{% static '/js/hello.js' %}"></script>
</body>

</html>